<div class="checkout-container">
  <div class="header">
    <div
      class="back-button"
      (click)="goBack()"
      role="button"
      aria-label="Go back to the previous page"
    >
      <ion-icon name="arrow-back-outline" aria-hidden="true"></ion-icon>
    </div>
    <h1>Your Order</h1>
  </div>

  <div class="section contact-info">
    <h2>Contact Information</h2>
    <form>
      <div class="checkout-inputs">
        <div class="two-cols">
          <input
            type="text"
            [(ngModel)]="checkoutInfo.user_info.fname"
            name="first"
            placeholder="First name*"
            class="form-input"
          />

          <input
            type="text"
            [(ngModel)]="checkoutInfo.user_info.lname"
            name="last"
            placeholder="Last name*"
            class="form-input"
          />
        </div>

        <input
          type="email"
          [(ngModel)]="checkoutInfo.user_info.email"
          name="email"
          placeholder="Email"
          class="form-input"
        />

        <input
          type="tel"
          [(ngModel)]="checkoutInfo.user_info.phone"
          name="phone"
          placeholder="Phone Number*"
          class="form-input"
        />

        <input
          type="text"
          [(ngModel)]="checkoutInfo.user_info.dob"
          name="dob"
          placeholder="Date of birth*"
          class="form-input"
        />
      </div>

    </form>
  </div>

  <div class="section order-type">
    <h2>Order Type</h2>
    <ion-radio-group [(ngModel)]="selectedOrderType" (ionChange)="onOrderTypeChange($event)" aria-label="Select Order Type">
      <ion-item lines="none" class="radio-item">
        <ion-radio slot="start" value="pickup" checked></ion-radio>
        <ion-label>Pickup</ion-label>
      </ion-item>
      <ion-item lines="none" class="radio-item">
        <ion-radio slot="start" value="delivery" [disabled]="enableDelivery"></ion-radio>
        <ion-label>Delivery</ion-label>
      </ion-item>
    </ion-radio-group>
    
    <!-- Conditional message for Delivery -->
    <!-- <p *ngIf="!enableDelivery" class="delivery-warning">
      Delivery is currently turned off.
    </p>
    <p *ngIf="enableDelivery && finalTotal < 90" class="delivery-warning">
      Orders must be at least $90 for delivery.
    </p> -->
    
  
    <div *ngIf="selectedOrderType === 'delivery' && !enableDelivery" class="delivery-address">

      <h3>Delivery Address</h3>

      <input
        type="text"
        class="form-input"
        [(ngModel)]="deliveryAddress.street"
        (ngModelChange)="onAddressInputChange()"
        placeholder="Street Address"
      />

      <input
        type="text"
        class="form-input"
        [(ngModel)]="deliveryAddress.apt"
        (ngModelChange)="onAddressInputChange()"
        placeholder="Apartment / Suite (Optional)"
      />

      <div class="two-cols">
        <input
          type="text"
          class="form-input"
          [(ngModel)]="deliveryAddress.city"
          (ngModelChange)="onAddressInputChange()"
          placeholder="City"
        />

        <input
          type="text"
          class="form-input"
          [(ngModel)]="deliveryAddress.zip"
          (ngModelChange)="onAddressInputChange()"
          placeholder="ZIP Code"
        />
      </div>

      <input
        type="text"
        class="form-input readonly"
        value="{{ deliveryAddress.state }}"
        readonly
      />

      <div class="two-cols">
        <div class="form-input date-input">
          <ion-datetime-button datetime="pickupDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="pickupDate"
                presentation="date"
                [(ngModel)]="selectedDeliveryDate"
                [isDateEnabled]="isDateValid"
                (ionChange)="onDateSelected($event)"
                [min]="minDate"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <div class="form-input">
          <ion-select [(ngModel)]="selectedDeliveryTime" placeholder="Select Time">
            <ion-select-option *ngFor="let time of timeOptions" [value]="time.value">
              {{ time.display }}
            </ion-select-option>
          </ion-select>
        </div>
      </div>

    </div>

    
    
  </div>
  

  <div class="section payment-method">
  <h2>Payment details</h2>

    <p class="payment-description pickup" *ngIf="selectedOrderType === 'pickup'">
      Want a faster pickup? Bank payments are processed quicker and can reduce wait time.
    </p>

    <p class="payment-description delivery" *ngIf="selectedOrderType === 'delivery'">
      Delivery orders require payment with Aeropay before checkout.
    </p>



  <!-- <div class="payment-badges">
      <div class="badge">
        <ion-icon name="business-outline"></ion-icon>
        <span>ACH</span>
      </div>

      <div class="badge">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>Cash</span>
      </div>
    </div>
  </div> -->

  <!-- PAYMENT METHOD SELECTION -->
  <div class="payment-method-select">
    <div 
      class="payment-option" 
      [class.selected]="selectedPaymentMethod === 'aeropay'"
      (click)="onPaymentMethodChange('aeropay')"
    >
      <ion-icon name="business-outline"></ion-icon>
      <span>Pay with Bank (ACH)</span>
    </div>

    <div 
      class="payment-option" 
      [class.selected]="selectedPaymentMethod === 'cash'"
      (click)="onPaymentMethodChange('cash')"
    >
      <ion-icon name="wallet-outline"></ion-icon>
      <span>Cash</span>
    </div>
  </div>


  <div *ngIf="selectedPaymentMethod === 'aeropay'">

    <!-- Verification -->
    <div *ngIf="verificationRequired" class="verify-box">
      <input type="text"
            [(ngModel)]="verificationCode"
            placeholder="Verification Code"
            class="form-input" />
      <button (click)="verifyAeroPayUser()">Verify</button>
    </div>

    <!-- Select Bank -->
    <div *ngIf="showBankSelection">
      <h3>Select Bank Account</h3>
      <ion-list>
        <ion-item *ngFor="let bank of userBankAccounts"
                  (click)="selectBank(bank.bankAccountId)"
                  [class.selected]="bank.bankAccountId === selectedBankId">
          {{ bank.bankName }} — {{ bank.accountType }}
        </ion-item>
      </ion-list>
    </div>

    <!-- AeroSync Widget Area -->
    <div id="widget"></div>

  </div>


  <div class="coupon-section">
    <div class="coupon-row">
      <input
        type="text"
        [(ngModel)]="couponCode"
        placeholder="Coupon code"
        class="coupon-input"
      />

      <button
        class="apply-btn"
        (click)="applyCoupon()"
        [disabled]="isApplyingCoupon"
      >
        {{ isApplyingCoupon ? '...' : 'APPLY' }}
      </button>
    </div>

    <p class="coupon-message" *ngIf="couponMessage">
      {{ couponMessage }}
    </p>
  </div>


    <div class="section order-summary">
      <h2>Order Summary</h2>

      <div class="summary" aria-live="polite">

        <div *ngIf="appliedDiscount" class="applied-discount">
          <strong>{{ appliedDiscount.name }}</strong>
          <button (click)="removeDiscount()">Remove</button>
        </div>

        <p>
          Subtotal:
          <span>{{ finalSubtotal | currency }}</span>
        </p>

        <p *ngIf="discountTotal" class="discount-line">
          Discount:
          <span>{{ discountTotal | currency }}</span>
        </p>

        <p>
          Tax:
          <span>{{ finalTax | currency }}</span>
        </p>

        <p class="total-line">
          Total:
          <span>{{ finalTotal | currency }}</span>
        </p>

      </div>
    </div>

  <div class="section cart-items">
    <h2>Your Items</h2>
    <ul>
    <li *ngFor="let item of checkoutInfo.cart" class="order-item">
      <img
        [src]="item.image === '' ? placeholderFor(item.category) : item.image "
        [alt]="'Image of ' + item.title"
        class="item-image"
      />

      <div class="item-details">
        <div class="top-row">
          <span class="item-quantity">{{ item.quantity }}x</span>
          <span class="item-title">{{ item.title }}</span>
        </div>

        <div class="price-info">
          <ng-container *ngIf="item.sale; else regularPrice">
            <span class="original-price">{{ item.price | currency }}</span>
            <span class="discounted-price">{{ item.sale.discountedPrice | currency }}</span>
            <span class="discount-tag">{{ (item.sale.discountValue * 100) | number: '1.0-0' }}% OFF</span>
          </ng-container>
          <ng-template #regularPrice>
            <span class="price">{{ item.price | currency }}</span>
          </ng-template>
        </div>
      </div>
    </li>

    </ul>
  </div>
</div>

<ion-button
  expand="block"
  class="sticky-footer"
  (click)="placeOrder()"
  [disabled]="
  (selectedOrderType === 'delivery' && !deliveryAddressValid)"
  aria-label="Place your order"
>
  Submit Order
</ion-button>

<div id="widget"></div>  