<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="auth-container" role="main">
    <ng-container [ngSwitch]="showMode">
      <app-login *ngSwitchCase="'login'" aria-label="Login Form"></app-login>
      <app-register *ngSwitchCase="'register'" aria-label="Registration Form"></app-register>
      <app-forgot-password *ngSwitchCase="'forgot-password'" aria-label="Forgot Password Form"></app-forgot-password>
      <app-reset-password *ngSwitchCase="'reset-password'" [token]="resetToken" aria-label="Reset Password Form"></app-reset-password>
    </ng-container>
  </div>
</ion-content>