<div class="cart-container">
  <div class="cart-item" *ngFor="let item of items">
    <div class="item-image">
      <img [src]="!item.image ? placeholderFor(item.category) : item.image " [alt]="'Image of ' + item.title"/>
    </div>
    <div class="item-details">
      <h4>{{ item.title }}</h4>
      <div class="item-price">
        <ng-container *ngIf="item.sale; else regularPrice">
          <span class="original-price">{{ item.price | currency }}</span>
          <span class="discounted-price">{{ item.sale.discountedPrice | currency }}</span>
          <span class="sale-tag">{{ (item.sale.discountValue * 100) | number: '1.0-0' }}% OFF</span>
        </ng-container>
        <ng-template #regularPrice>
          <span>{{ item.price | currency }}</span>
        </ng-template>
      </div>

     <div class="quantity-row">

        <!-- Trash icon -->
        <button class="qty-btn-icon delete" (click)="removeItem(item)">
          <ion-icon name="trash-outline"></ion-icon>
        </button>

        <!-- Minus -->
        <button class="qty-btn-icon" (click)="updateQuantity(item, -1)">
          <ion-icon name="remove-outline"></ion-icon>
        </button>

        <!-- Quantity number -->
        <span class="qty-value">{{ item.quantity }}</span>

        <!-- Plus -->
        <button class="qty-btn-icon" (click)="updateQuantity(item, 1)">
          <ion-icon name="add-outline"></ion-icon>
        </button>

      </div>


    </div>
  </div>

  <ion-button class="add-more-button" routerLink="/home" aria-label="Add more items to your cart"
    >+ Add more items</ion-button
  >

</div>
