<div class="order-history">
  <h2>Pending Orders</h2>

  <div *ngIf="loading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div
    class="order-list"
    *ngIf="!loading && pendingOrders.length > 0"
    role="region"
    aria-labelledby="pending-orders-heading"
  >
    <div
      class="order-card"
      *ngFor="let order of pendingOrders; let i = index"
      [class.expanded]="expandedOrderIndex.pending === i"
    >
      <div
        class="order-header"
        (click)="toggleExpand(i, 'pending')"
        [attr.aria-expanded]="expandedOrderIndex.pending === i"
        [attr.aria-controls]="'pending-order-items-' + i"
        [attr.aria-label]="'View details for order ' + order.orderId"
      >
        <div class="order-info">
          <p>{{ order.orderDate | date:'longDate' }}</p>
          <h3>Order #{{ order.orderId }}</h3>
          <p>{{ order.items.length }} items</p>
          <p *ngIf="order.orderType === 'Delivery'">🚚 Delivery Order</p>
          <p class="status-badge">{{ getLatestStatus(order) }}</p>
        </div>
        <div class="order-amount">
          <p>${{ order.total | number : "1.2-2" }}</p>
        </div>
      </div>
      <div class="order-items" *ngIf="expandedOrderIndex.pending === i">
        <ul>
          <li *ngFor="let item of order.items" class="order-item">
            <!-- <img
              src="assets/default.png"
              [alt]="'Image of ' + item.productName"
              class="item-image"
            /> -->
            <span>{{ item.quantity }}x</span>
            <span>{{ item.productName }}</span>
          </li>
        </ul>
        <!-- <button
          class="reorder-button"
          (click)="reorder(order)"
          [attr.aria-label]="'Reorder items from order' + order.orderId"
        >
          Reorder
        </button> -->
      </div>
    </div>
  </div>
  <div *ngIf="!loading && pendingOrders.length === 0" class="no-orders-message">
    <p>No pending orders found.</p>
  </div>

  <hr />

  <h2>Past Orders</h2>

  <div *ngIf="loading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div
    class="order-list"
    *ngIf="!loading && pastOrders.length > 0"
    role="region"
    aria-labelledby="past-orders-heading"
  >
    <div
      class="order-card"
      *ngFor="let order of pastOrders; let i = index"
      [class.expanded]="expandedOrderIndex.past === i"
    >
      <div
        class="order-header"
        (click)="toggleExpand(i, 'past')"
        [attr.aria-expanded]="expandedOrderIndex.past === i"
        [attr.aria-controls]="'past-order-items-' + i"
        [attr.aria-label]="'View details for order ' + order.orderId"
      >
        <div class="order-info">
          <h3>Order #{{ order.orderId }}</h3>
          <p>{{ order.items.length }} items</p>
          <p *ngIf="order.orderType === 'Delivery'">🚚 Delivery Order</p>
          <p class="status-badge-complete">{{ getLatestStatus(order) }}</p>
        </div>
        <div class="order-amount">
          <p>${{ order.total | number : "1.2-2" }}</p>
        </div>
      </div>

      <div class="order-items" *ngIf="expandedOrderIndex.past === i">
        <ul>
          <li *ngFor="let item of order.items" class="order-item">
            <span>{{ item.quantity }}x</span>
            <span>{{ item.productName }}</span>
          </li>
        </ul>
        <!-- <ion-button
          class="reorder-button"
          (click)="reorder(order)"
          [attr.aria-label]="'Reorder items from order ' + order.orderId"
        >
          Reorder
        </ion-button> -->
      </div>
    </div>
  </div>
  <div *ngIf="!loading && pastOrders.length === 0" class="no-orders-message">
    <p>No past orders found.</p>
  </div>
</div>