<ion-tabs>
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" routerLink="/tabs/home">
    <div class="tab-icon">
      <i class="fa-solid fa-house"></i>
    </div>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="products" routerLink="/products">
    <div class="tab-icon">
      <i class="fa-solid fa-list"></i>
    </div>
    <ion-label>Products</ion-label>
  </ion-tab-button>

  <ng-container *ngIf="isLoggedIn$ | async">
    <ion-tab-button tab="orders" routerLink="/orders">
      <div class="tab-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
  </ng-container>

  <ion-tab-button tab="rewards" routerLink="/rewards">
    <div class="tab-icon">
      <img src="assets/MaryJane-Icon-DarkGreen.png" alt="" />
    </div>
    <ion-label>Rewards</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
