ion-tab-button {
  background: var(--ion-color-secondary-contrast);
  border-top: none;
  color: rgba(0, 0, 0, 0.47);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-icon {
  height: 26px;        /* SAME height for all icons */
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.tab-icon i {
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.473);
}

.tab-icon img {
  height: 22px;       /* slightly smaller for optical match */
  width: auto;
  display: block;
}

ion-label {
  font-size: 12px;
  line-height: 1;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.47);
}

/* Selected state */
ion-tab-button.tab-selected {
  border-top: 4px solid var(--ion-color-primary);
}

ion-tab-button.tab-selected i,
ion-tab-button.tab-selected ion-label {
  color: var(--ion-color-primary);
}

.tab-icon {

}