<ion-tabs>
  <ion-tab-bar slot="bottom" aria-label="Main navigation">
    <ion-tab-button tab="home" routerLink="/tabs/home" aria-label="Home">
      <i class="fa-solid fa-house icon" aria-hidden="true"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products" routerLink="/products" aria-label="Products">
      <i class="fa-solid fa-list icon" aria-hidden="true"></i>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ng-container *ngIf="isLoggedIn$ | async">
      <ion-tab-button tab="orders" routerLink="/orders" aria-label="Orders">
        <i class="fa-solid fa-receipt icon"></i>
        <ion-label>Orders</ion-label>
      </ion-tab-button>
    </ng-container>

    <ion-tab-button tab="rewards" routerLink="/rewards" aria-label="Rewards">
      <i class="fa-solid fa-award icon" aria-hidden="true"></i>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>


    <!-- <ng-container *ngIf="isLoggedIn$ | async">
      <ion-tab-button tab="social" routerLink="/social" aria-label="Social">
        <i class="fa-solid fa-comment icon" aria-hidden="true"></i>
        <ion-label>Social</ion-label>
      </ion-tab-button>
    </ng-container> -->
  </ion-tab-bar>
</ion-tabs>
