ion-tab-bar {
  bottom: 0;
  left: 0;
  // width: 100%;
  z-index: 10; /* Lower z-index for a softer overlay effect */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Softer, more subtle shadow */
  border-top: 1px solid rgba(0, 0, 0, 0.05); /* Thin and light border for separation */
  background-color: var(--ion-color-primary);
  margin: 10px;
  border-radius: 10px;
}

ion-tab-button{
  background-color: var(--ion-color-primary);
}

.icon {
  font-size: 1.8em;
}
