<div class="product-detail">
  <div
    class="back-button"
    (click)="goBack()"
    role="button"
    tabindex="0"
    aria-label="Go back to the previous page"
    (keydown.enter)="goBack()"
    (keydown.space)="goBack()"
  >
    <ion-icon name="arrow-back-outline" aria-hidden="true"></ion-icon>
  </div>

  <p class="discount-name" *ngIf="currentProduct.sale?.discountName || currentProduct.sale?.menuDisplay?.menuDisplayName">
    {{ currentProduct.sale?.menuDisplay?.menuDisplayName || currentProduct.sale?.discountName }}
  </p>

  <div class="image-container">
    <img
      [src]="getProductImage(currentProduct)"
      [alt]="currentProduct.title ? currentProduct.title + ' image' : 'Product Image'"
    />
    
    <!-- SALE BADGE -->
    <div class="sale-tag" *ngIf="currentProduct.sale">
      {{ (currentProduct.sale.discountValue * 100) | number: '1.0-0' }}% OFF
    </div>
  </div>


  <div class="product-info" aria-labelledby="product-title" aria-describedby="product-description product-price product-strain product-weight">
    <p class="brand">{{ currentProduct.brand }}</p>
    <h2 id="product-title" class="title">{{ currentProduct.title }}</h2>
    <ng-container *ngIf="currentProduct.sale; else regularPrice">
      <span id="product-price" class="price sale-price">
        <span class="original-price">{{ currentProduct.price | currency }}</span>
        {{ currentProduct.sale.discountedPrice | currency }}
      </span>
    </ng-container>
    <ng-template #regularPrice>
      <span id="product-price" class="price">{{ currentProduct.price | currency }}</span>
    </ng-template>

    <p id="product-strain" class="strain">
      {{ currentProduct.strainType }}
      {{ currentProduct.strainType && currentProduct.thc ? "-" : "" }}
      {{ currentProduct.thc }} THC
    </p>
    <p id="product-description" class="description">
      {{ getDescription() }}
      <span
        class="see-more"
        (click)="toggleDescription()"
        (keydown.enter)="toggleDescription()"
        (keydown.space)="toggleDescription()"
        role="button"
        tabindex="0"
        [attr.aria-expanded]="showFullDescription"
        [attr.aria-label]="showFullDescription ? 'See less of the product description' : 'See more of the product description'"
        *ngIf="currentProduct.desc"
      >
        {{ showFullDescription ? "See Less" : "See More" }}
      </span>
    </p>
    <span id="product-weight" class="weight">{{ currentProduct.weight }}g</span>
  </div>

  <ng-container *ngIf="isLoggedIn">
    <div class="quantity-counter" aria-label="Select product quantity">
      <button (click)="decrementQuantity()" aria-label="Decrease quantity">-</button>
      <span aria-live="polite">{{ quantity }}</span>
      <button (click)="incrementQuantity()" aria-label="Increase quantity">+</button>
    </div>

    <ion-button expand="block" (click)="addToCart()" [attr.aria-label]="'Add ' + currentProduct.title + ' to cart'">
      Add to Cart
    </ion-button>
  </ng-container>

  <ion-button
    expand="block"
    routerLink="/auth"
    [queryParams]="{ mode: 'register' }"
    *ngIf="!isLoggedIn"
    [attr.aria-label]="'Register to add ' + currentProduct.title + ' to your cart'"
  >
    Register to Add to Cart
  </ion-button>
</div>