<div>
  <div *ngFor="let section of homeSections" class="category-section">

    <div class="section-header">
      <a (click)="goToSection(section.key)" class="view-all" role="button"
        [attr.aria-label]="'View all products in ' + section.label">
        <h2>{{ section.label }}</h2>
        <ion-icon name="arrow-forward-outline" class="arrow-icon" aria-hidden="true"></ion-icon>
      </a>
    </div>

    <div *ngIf="loading" class="loading-container">
      <div class="spinner"></div>
    </div>

    <!-- Scrollable Product Slider -->
    <div class="slider-container" tabindex="0"
         [attr.aria-label]="'Product slider for ' + section.label">

      <div class="slider">

        <ng-container *ngFor="let product of getLimitedProducts(section.key); let i = index">
          <div class="slide">
            <app-product [product]="product" [index]="i"></app-product>
          </div>
        </ng-container>

        <div *ngIf="getLimitedProducts(section.key).length > 8"
             class="slide view-more-slide">
          <button class="view-more-button" (click)="goToSection(section.key)">
            View More
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </button>
        </div>

      </div>
    </div>

  </div>
</div>
