.view-all{
  display: flex;
  text-decoration: none;
  color: black;
}

.arrow-icon {
  font-size: 1.8em;
  color: black;
}


.product-price {
  margin-top: auto;
  font-size: 16px;
  font-weight: bold;
  color: var(--ion-color-secondary);
  text-align: right;
}

.custom-spinner {
  width: 80px;
  height: 80px;
  animation: spin 1.2s linear infinite;
  display: block;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* View More Slide (Placed at the End of Products) */

.sale-tag {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #e53935;
  color: white;
  font-size: 1.0rem;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.sale-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #d32f2f;

  .original-price {
    text-decoration: line-through;
    color: #bbb;
    font-size: 13px;
    margin-bottom: 2px;
  }

  // Discounted price style
  font-weight: bold;
  font-size: 24px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.25); /* optional dim */
  z-index: 9999;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #d1d1d1;
  border-top-color: #4c5a45; /* match your brand color */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.category-section {
  padding: 10px 0px;
  margin: 10px;
  border-radius: 10px;
}

.section-header {
  display: flex;
  align-items: center;
}

.section-header h2 {
  font-size: 1.7em;
  text-transform: capitalize;
  margin: 0 6px 0 0;
}

.slider-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding: 20px 0;
}

.slider {
  display: flex;
  gap: 20px;
}

.slide {
  flex: 0 0 auto;
  width: 196px;   /* matches your grid card width nicely */
}


.view-more-slide {
  flex: 0 0 auto;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-more-button {
  background-color: var(--ion-color-primary);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

