.carousel-container {
  position: relative;
  height: 250px; /* Adjust height as needed */
  overflow: hidden;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-slide.active {
  opacity: 1;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000; /* Optional: to fill any empty space */
}

.banner-content img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Fills the container without leaving gaps */
}


@media screen and (min-width: 600px) {
  .carousel-container {
    height: 350px;
  }
}