<div class="carousel-wrapper">
  <div
    class="carousel-container"
    #dragArea
    (mousedown)="onDragStart($event)"
    (mousemove)="onDragMove($event)"
    (mouseup)="onDragEnd()"
    (mouseleave)="onDragEnd()"
    (touchstart)="onDragStart($event)"
    (touchmove)="onDragMove($event)"
    (touchend)="onDragEnd()"
  >
    <div
      class="carousel-track"
      [style.transform]="trackTransform"
      [style.transition]="trackTransition"
    >
      <div class="carousel-slide" *ngFor="let banner of banners">
        <div class="banner-card">
          <img [src]="banner.image" [alt]="banner.title" />
        </div>
      </div>
    </div>
  </div>
</div>
