.carousel-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: clip;
  padding-bottom: 15px;
  padding-top: 15px;
}

.carousel-container {
  width: 100%;
  position: relative;
  touch-action: pan-y;
}

.carousel-track {
  display: flex;
  height: 200px;
  will-change: transform;
}

.carousel-slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-card {
  width: 92%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
  background: #fff;
   position: relative;
}

.banner-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.banner-overlay {
  position: absolute;
  inset: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.banner-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 6px;
}

.banner-subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.7;
  margin: 0;
}

.banner-cta {
  width: fit-content;
  padding: 7px 16px;
  border-radius: 999px;
  font-size: 16px;
  font-family: 'Bicyclette', sans-serif;
  border: 1.5px solid #1a1a1a;
  color: #1a1a1a;
  background: var(--ion-color-primary);
  cursor: pointer;
  margin-top: auto;
}