// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-background-primary: #f8f8f8;

  --ion-color-primary: #046732;
  --ion-color-primary-rgb: 4, 103, 50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #035a2c;
  --ion-color-primary-tint: #1e7c4a;

  --ion-color-secondary: #c4e3d3;
  --ion-color-secondary-rgb: 196, 227, 211;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #aecbbc;
  --ion-color-secondary-tint: #d3e9dd;

  --ion-color-danger: #d32f2f;
  --ion-color-danger-rgb: 211, 47, 47;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ba2929;
  --ion-color-danger-tint: #d74444;

  --brand-primary: red;
}
