// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-background-primary: #f8f8f8;

  --ion-color-primary: #4B4F47;
  --ion-color-primary-rgb: 91, 96, 83;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 34, 34, 34;
  --ion-color-primary-shade: #5b6053;
  --ion-color-primary-tint: #5b6053;

  --ion-color-secondary: #b7b7b7;
  --ion-color-secondary-rgb: 196, 227, 211;
  --ion-color-secondary-contrast: #DBB5AF;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #aecbbc;
  --ion-color-secondary-tint: #d3e9dd;

  --ion-color-danger: #d32f2f;
  --ion-color-danger-rgb: 211, 47, 47;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ba2929;
  --ion-color-danger-tint: #d74444;

  --brand-primary: red;
}
