// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-background-primary: #f8f8f8;

  --ion-color-blue: #B8CCC5;
  --ion-color-blue-rgb: 184, 204, 197;
  --ion-color-blue-contrast: #000000;
  --ion-color-blue-contrast-rgb: 0, 0, 0;
  --ion-color-blue-shade: #a3b8b2;
  --ion-color-blue-tint: #c6d8d2;

  --ion-color-primary: #ADBC9B;
  --ion-color-primary-rgb: 173, 188, 155;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #98a889;
  --ion-color-primary-tint: #b5c4a5;

  --ion-color-secondary: #FFABB3;
  --ion-color-secondary-rgb: 255, 171, 179;
  --ion-color-secondary-contrast: #f9f8f3;
  --ion-color-secondary-contrast-rgb: 229, 219, 199;
  --ion-color-secondary-shade: #e0969e;
  --ion-color-secondary-tint: #ffb3bb;

  --ion-color-danger: #d32f2f;
  --ion-color-danger-rgb: 211, 47, 47;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ba2929;
  --ion-color-danger-tint: #d74444;

  --brand-primary: red;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}