<ion-app>
  <!-- Splash Screen -->
  <div
    *ngIf="showSplashScreen"
    @fadeOut
    class="splash-container"
    role="dialog"
    aria-modal="true"
    aria-labelledby="splash-heading"
    aria-describedby="splash-description"
  >
    <app-splash-screen (closeSplash)="onCloseSplash()"></app-splash-screen>
  </div>


  <ion-router-outlet
  *ngIf="!showSplashScreen"
  [attr.inert]="showSplashScreen ? true : null"
  aria-live="polite"
  aria-label="Main content area"
  id="main-content"
></ion-router-outlet>

<app-assistant-chat
  *ngIf="!showSplashScreen && !hideAssistantChat"
></app-assistant-chat>
</ion-app>