<ion-col class="list" role="list" aria-label="Filtered product list">

  <ng-container *ngIf="(products$ | async) as products; else loading">
    <ng-container *ngIf="products.length > 0; else loading">
      <ng-container *ngFor="let product of products; let i = index">
        <app-product
          *ngIf="isCategoryVisible(product.category ?? '', product.masterCategory ?? '')"
          [product]="product"
          [index]="i"
          role="listitem"
          [attr.aria-label]="'View details for ' + product.title"
        ></app-product>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</ion-col>
