ion-searchbar {
    --border-radius: 10px;
    --color: #333; /* Dark text */
    --placeholder-color: #999;
    --icon-color: #666;
    --clear-button-color: #ff3b30; /* Red clear button */
    --background: rgb(204, 204, 204);
    width: 100%;

  }