<div class="button-container">
  <ion-button (click)="setOpen(true)" aria-label="Open sort and filter options">Sort + Filter</ion-button>
  <ion-button (click)="clearFilters()" *ngIf="hasDirtyFilters" fill="clear" aria-label="Clear all applied filters">
    Clear Filters
  </ion-button>
</div>

<ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="setOpen(false)" aria-labelledby="sort-filter-title">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title id="sort-filter-title">Sort + Filter Options</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)" aria-label="Close sort and filter options">
            <ion-icon slot="icon-only" name="close" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="filters-container">
      <div class="section">
        <ion-label class="section-title">Sort</ion-label>
        <ion-row class="select-container">
          <ion-select
            label="Sort by"
            label-placement="floating"
            fill="outline"
            interface="popover"
            [(ngModel)]="filters.sortMethod.criterion"
            (ionChange)="handleFilterUpdate()"
            aria-label="Sort products by criteria"
          >
            <ion-select-option
              *ngFor="let criterion of criteriaOptions"
              [value]="criterion.value"
              >{{ criterion.label }}</ion-select-option
            >
          </ion-select>
          <ion-select
            label="Sort direction"
            label-placement="floating"
            fill="outline"
            interface="popover"
            [(ngModel)]="filters.sortMethod.direction"
            (ionChange)="handleFilterUpdate()"
            aria-label="Select sorting direction"
          >
            <ion-select-option
              *ngFor="let direction of directionOptions"
              [value]="direction.value"
              >{{ direction.label }}</ion-select-option
            >
          </ion-select>
        </ion-row>
      </div>

      <div class="section" *ngIf="dynamicFilterOptions$ | async as dynamicFilterOptions">
        <ion-label class="section-title">Brands</ion-label>
        <ion-row class="checkbox-container">
          <label
            class="checkbox-wrapper"
            *ngFor="let brand of (showAllBrands ? dynamicFilterOptions.brands : (dynamicFilterOptions.brands | slice:0:previewCount))"
            [attr.aria-label]="'Filter by brand ' + brand.label"
          >
            <input
              #brandInput
              type="checkbox"
              [checked]="isChecked(filters.brands, brand.value)"
              (change)="handleCheckField(brandInput.checked, brand.value, 'brands')"
            />
            <ion-label>{{ brand.label }}</ion-label>
          </label>
        </ion-row>

        <ion-button
          *ngIf="dynamicFilterOptions.brands.length > previewCount"
          fill="clear"
          size="small"
          (click)="toggleShowAllBrands()"
          aria-label="Toggle showing all brands"
          class="show-more-button"
        >
          {{ showAllBrands ? 'Show less' : ('Show all (' + (dynamicFilterOptions.brands.length - previewCount) + ' more)') }}
        </ion-button>
      </div>

      <div class="section">
        <ion-label class="section-title">Strains</ion-label>
        <ion-row class="checkbox-container">
          <label
            class="checkbox-wrapper"
            *ngFor="let strain of strainOptions"
            [attr.aria-label]="'Filter by strain ' + strain.label"
          >
            <input
              #strainInput
              type="checkbox"
              [checked]="isChecked(filters.strains, strain.value)"
              (change)="handleCheckField(strainInput.checked, strain.value, 'strains')"
            />
            <ion-label>{{ strain.label }}</ion-label>
          </label>
        </ion-row>
      </div>

      <div class="section" *ngIf="dynamicFilterOptions$ | async as dynamicFilterOptions">
        <ion-label class="section-title">Weights</ion-label>
        <ion-row class="checkbox-container">
          <label
            class="checkbox-wrapper"
            *ngFor="let weight of dynamicFilterOptions.weights"
            [attr.aria-label]="'Filter by weight ' + weight.label"
          >
            <input
              #weightInput
              type="checkbox"
              [checked]="isChecked(filters.weights, weight.value)"
              (change)="handleCheckField(weightInput.checked, weight.value, 'weights')"
            />
            <ion-label>{{ weight.label }}</ion-label>
          </label>
        </ion-row>
      </div>

      <div class="section">
        <ion-label class="section-title">Potency</ion-label>
        <ion-row class="range-container">
          <h5 class="range-label">THC %</h5>
          <ion-range
            #potencyInput
            [dualKnobs]="true"
            [pin]="true"
            [value]="filters.potency.thc"
            [(ngModel)]="filters.potency.thc"
            (ionChange)="handleFilterUpdate()"
            aria-label="Adjust THC potency range"
          ></ion-range>
        </ion-row>
      </div>
    </div>
  </ng-template>
</ion-modal>
