<div class="toolbar">
  <!-- FILTER BUTTON -->
  <button class="filter-box" (click)="setOpen(true)" aria-label="Open filters">
    <ion-icon name="options-outline"></ion-icon>
  </button>

  <!-- SORT BOX -->
  <div class="sort-box">
    <span class="sort-label">Sort By:</span>

    <ion-select
      interface="popover"
      placeholder="Select"
      [(ngModel)]="filters.sortMethod"
      (ionChange)="handleFilterUpdate()"
      class="sort-select"
    >
      <ion-select-option
        *ngFor="let opt of combinedSortOptions"
        [value]="opt.value"
      >
        {{ opt.label }}
      </ion-select-option>
    </ion-select>
  </div>
</div>

<!-- FILTER MODAL -->
<ion-modal
  [isOpen]="isModalOpen"
  (ionModalDidDismiss)="setOpen(false)"
  aria-labelledby="filters-title"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="filters-toolbar">
        <ion-title id="filters-title">Filters</ion-title>

        <ion-buttons slot="end">
          <ion-button
            fill="clear"
            class="clear-all-btn"
            (click)="clearFilters()"
            *ngIf="hasDirtyFilters"
          >
            Clear all
          </ion-button>
          <ion-button
            fill="clear"
            (click)="setOpen(false)"
            aria-label="Close filters"
          >
            <ion-icon slot="icon-only" name="close" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="filters-content">
      <div class="filters-container" *ngIf="dynamicFilterOptions$ | async as dynamicFilterOptions">

        <!-- TYPES (STRAINS) -->
        <section class="filter-section">
          <div class="filter-section-header">
            <h3 class="filter-section-title">Types</h3>
          </div>

          <div class="pill-group">
            <label
              class="pill"
              *ngFor="let strain of strainOptions"
              [attr.aria-label]="'Filter by strain ' + strain.label"
            >
              <input
                #strainInput
                type="checkbox"
                [checked]="isChecked(filters.strains, strain.value)"
                (change)="handleCheckField(strainInput.checked, strain.value, 'strains')"
              />
              <span class="pill-label">
                {{ strain.label }}
              </span>
            </label>
          </div>
        </section>

        <!-- BRANDS -->
        <section class="filter-section">
          <div class="filter-section-header">
            <h3 class="filter-section-title">Brands</h3>
          </div>

          <div class="brand-search">
            <input
              type="text"
              placeholder="Select brands"
              [(ngModel)]="brandSearchTerm"
              aria-label="Search brands"
            />
            <ion-icon
              name="search-outline"
              class="brand-search-icon"
              aria-hidden="true"
            ></ion-icon>
          </div>

          <div class="brand-list">
            <label
              class="brand-item"
              *ngFor="let brand of getVisibleBrands(dynamicFilterOptions.brands)"
              [attr.aria-label]="'Filter by brand ' + brand.label"
            >
              <input
                #brandInput
                type="checkbox"
                [checked]="isChecked(filters.brands, brand.value)"
                (change)="handleCheckField(brandInput.checked, brand.value, 'brands')"
              />
              <span class="brand-checkbox"></span>
              <span class="brand-label">
                <span class="brand-name">{{ brand.label }}</span>
                <span class="brand-count" *ngIf="brand.count !== undefined">
                  {{ brand.count }}
                </span>
              </span>
            </label>
          </div>

          <button
            type="button"
            class="more-brands-btn"
            *ngIf="dynamicFilterOptions.brands.length > previewCount"
            (click)="toggleShowAllBrands()"
            aria-label="Toggle showing all brands"
          >
            {{ showAllBrands ? 'Show less' : '+ More brands' }}
          </button>
        </section>

        <!-- WEIGHTS -->
        <section class="filter-section" *ngIf="dynamicFilterOptions.weights?.length">
          <div class="filter-section-header">
            <h3 class="filter-section-title">Weights</h3>
          </div>

          <div class="pill-group">
            <label
              class="pill"
              *ngFor="let weight of dynamicFilterOptions.weights"
              [attr.aria-label]="'Filter by weight ' + weight.label"
            >
              <input
                #weightInput
                type="checkbox"
                [checked]="isChecked(filters.weights, weight.value)"
                (change)="handleCheckField(weightInput.checked, weight.value, 'weights')"
              />
              <span class="pill-label">
                {{ weight.label }}
              </span>
            </label>
          </div>
        </section>

        <!-- POTENCY (THC) -->
        <section class="filter-section">
          <div class="filter-section-header">
            <h3 class="filter-section-title">THC</h3>
          </div>

          <div class="range-row">
            <div class="range-values">
              <span>{{ filters.potency.lower }}%</span>
              <span>{{ filters.potency.upper }}%</span>
            </div>
            <ion-range
              dualKnobs="true"
              [min]="0"
              [max]="40"
              [step]="1"
              [value]="{ lower: filters.potency.lower, upper: filters.potency.upper }"
              (ionChange)="updatePotencyRange($event)"
            ></ion-range>
          </div>
        </section>

        <!-- PRICE -->
        <section class="filter-section">
          <div class="filter-section-header">
            <h3 class="filter-section-title">Price</h3>
          </div>

          <div class="range-row">
            <div class="range-values">
              <span>${{ filters['price'].min }}</span>
              <span>${{ filters['price'].max }}</span>
            </div>

          <ion-range
            dualKnobs="true"
            [min]="0"
            [max]="450"
            [step]="1"
            [value]="{ lower: filters.price.min, upper: filters.price.max }"
            (ionChange)="updatePriceRange($event)"
          ></ion-range>

          </div>
        </section>


        <!-- COLLAPSIBLE SECTIONS -->
        <ng-container *ngFor="let section of collapsibleSections">
          <section class="filter-section collapsible">

            <div class="collapsible-header" (click)="toggleCollapse(section.key)">
              <h3 class="filter-section-title">{{ section.label }}</h3>
              <ion-icon
                name="chevron-down-outline"
                class="chevron"
                [class.open]="!collapsed[section.key]"
              ></ion-icon>
            </div>

           <div class="collapsible-content" *ngIf="!collapsed[section.key]">

            <!-- SEARCH INPUT -->
            <div class="brand-search">
              <input
                type="text"
                placeholder="Search {{ section.label }}"
                [(ngModel)]="searchTerms[section.key]"
              />
              <ion-icon
                name="search-outline"
                class="brand-search-icon"
                aria-hidden="true"
              ></ion-icon>
            </div>

            <!-- CHECKBOX LIST -->
            <div class="brand-list">
              <label
                class="brand-item"
                *ngFor="let opt of getFilteredOptions(dynamicFilterOptions[section.key], section.key)"
              >
                <input
                  #optInput
                  type="checkbox"
                  [checked]="isChecked(filters[section.key], opt.value)"
                  (change)="handleCheckField(optInput.checked, opt.value, section.key)"
                />

                <span class="brand-checkbox"></span>

                <span class="brand-label">
                  <span class="brand-name">{{ opt.label }}</span>
                </span>
              </label>
            </div>

          </div>


          </section>
        </ng-container>


      </div>
    </ion-content>
  </ng-template>
</ion-modal>
