.points-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
  padding: 20px;
  overflow-y: auto;

  /* Points Header */
  .points-header {
    margin-bottom: 20px;

    h1 {
      font-size: 1.8rem;
      font-weight: 700;
      color: #333;
    }

    .points-value {
      font-size: 2rem;
      font-weight: bold;
      // color: var(--ion-color-primary);
      margin-top: 10px;
    }

    .membership-status {
      font-size: 1rem;
      font-weight: 600;
      color: #666;
      margin-top: 5px;
    }
  }

  /* Progress Bar */
  .progress-bar-container {
    width: 100%;
    height: 12px;
    background-color: #ddd;
    border-radius: 6px;
    overflow: hidden;
    margin: 20px 0;

    .progress-bar {
      height: 100%;
      background-color: var(--ion-color-primary);
      transition: width 0.5s ease-in-out;
    }
  }

  /* Progress Steps */
  .progress-steps {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #555;
    width: 100%;
    margin-bottom: 20px;

    span {
      position: relative;
      bottom: -8px;
    }
  }

  /* Membership Details */
  .membership-details {
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .membership-upgrade,
    .membership-thankyou {
      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 10px;
      }

      .benefits-list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;

        li {
          font-size: 0.9rem;
          color: #666;
          margin-bottom: 5px;
          position: relative;
          padding-left: 20px;

          &:before {
            content: "✔";
            position: absolute;
            left: 0;
            color: var(--ion-color-primary);
          }
        }
      }
    }
  }

  /* Instructions */
  .instructions-container {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .instructions {
      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: #666;
        line-height: 1.5;
      }
    }
  }

  /* Banner Carousel */
  app-banner-carousel {
    margin: 30px 0;
    width: 100%;
    max-width: 400px;
  }
}

.rewards-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;

  .reward-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    ion-icon {
      font-size: 2rem;
      color: var(--ion-color-primary);
      margin-bottom: 10px;
    }

    .reward-header {
      font-size: 1.1rem;
      font-weight: 700;
      color: var(--ion-color-primary);
      margin-bottom: 5px;
      text-align: center;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      color: #333;
      margin-bottom: 10px;
    }

    .reward-list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      width: 100%;

      li {
        position: relative;
        font-size: 0.9rem;
        color: #666;
        padding-left: 25px;
        margin-bottom: 10px;

        &:before {
          content: "•";
          position: absolute;
          left: 0;
          top: 0;
          color: var(--ion-color-primary);
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }
    }
  }
}
