/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Hides content visually but keeps it accessible for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.custom-loading .loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 120px; /* Adds space for the image */
  background-color: white !important;  /* Force white background */
  color: black !important;  /* Force black text */
  border-radius: 12px;  /* Optional: Add rounded corners */
}

.custom-loading .loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black !important;
  background-color: white;
}

/* Add the image inside the loading wrapper */
.custom-loading .loading-wrapper::before {
  content: "";
  background: url("assets/logo.png") no-repeat center center;
  background-size: contain;
  width: 100px;  /* Adjust size as needed */
  height: 100px;
  position: absolute;
  top: 20px; /* Position it above the loading spinner */
}


body{
  --ion-background-color: var(--ion-background-primary);

  ion-button{
    --background: var(--ion-color-secondary-contrast);
    color: black;
  }

  p, h2{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    color: #333;
  }

  .icon-wrapper{
    color: var(--ion-color-dark);
  }

  ion-tab-button {
    i,
    ion-label {
      color: #b8b8b8;
    }
    
    &.tab-selected {
      i,
      ion-label {
        color: var(--ion-color-primary-contrast);
      }
    }
  }
}

/* Dark Mode */
body {
  &.dark-mode {
    color: var(--ion-color-dark-contrast);
    background-color: var(--ion-color-dark);
    --ion-background-color: var(--ion-color-dark);

    .alert-title.sc-ion-alert-md {
      color: var(--ion-color-dark-contrast) !important; /* Use !important to override inline or default styles */
    }

    *:not(img):not(ion-alert):not(ion-alert button):not(ion-ripple-effect):not(app-product-category),
    .product-detail {
      color: var(--ion-color-dark-contrast);
      background-color: var(--ion-color-dark);
    }
    
    

    ion-toolbar {
      --background: var(--ion-color-dark);
    }

    ion-popover {
      background-color: transparent;
    }

    ion-select {
      --highlight-color-focused: var(--ion-color-dark-contrast) !important;
      --highlight-color-valid: var(--ion-color-dark-contrast) !important;

      &::part(label),
      &::part(icon) {
        color: var(--ion-color-dark-contrast);
      }
    }

    ion-range {
      --bar-background: var(--ion-color-dark-contrast) !important;
      --bar-background-active: var(--ion-color-dark-contrast) !important;
      --knob-background: var(--ion-color-dark-contrast) !important;
      --pin-background: var(--ion-color-dark-contrast) !important;
      --pin-color: var(--ion-color-dark) !important;
    }

    ion-tab-button {
      &.tab-selected {
        i,
        ion-label {
          color: var(--ion-color-secondary);
        }
      }
    }

    ion-item {
      --border-color: rgba(var(--ion-color-dark-contrast-rgb), 0.3);
    }

    .arrow-icon {
      color: var(--ion-color-dark-contrast);
    }

    .category-section {
      * {
        background-color: transparent;
      }

      img {
        background-color: var(--ion-color-light);
      }

      &:nth-child(even) {
        background-color: var(--ion-color-secondary) !important;
        .section-header h2,
        .arrow-icon {
          color: var(--ion-color-dark);
        }
      }

      &:nth-child(4n-2) {
        background-color: var(--ion-color-primary) !important;
        .section-header h2,
        .arrow-icon {
          color: var(--ion-color-dark-contrast);
        }
      }
    }

    .checkbox-container .checkbox-wrapper {
      ion-label {
        color: var(--ion-color-dark-contrast) !important;
        background-color: transparent !important;
        border-color: var(--ion-color-dark-contrast) !important;
        transition: 0.15s ease-in;
      }

      input[type="checkbox"]:checked + ion-label {
        background-color: var(--ion-color-primary) !important;
        border-color: var(--ion-color-primary) !important;
        transition: 0.15s ease-in !important;
      }
    }

    .product-info {
      .brand,
      .title,
      .strain,
      .description,
      .weight {
        color: var(--ion-color-dark-contrast);
      }

      .price,
      .see-more {
        color: var(--ion-color-secondary);
      }
    }

    .points-container {
      .points-value {
        color: var(--ion-color-secondary) !important;
      }

      .membership-status {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
      }

      .progress-bar {
        background-color: var(--ion-color-secondary) !important;
      }

      .points-badge {
        background-color: var(--ion-color-secondary) !important;
      }
    }

    .reward-item {
      &,
      * {
        background-color: var(--ion-color-primary) !important;

        li::before {
          color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
        }
      }

      ion-icon,
      .reward-header {
        color: var(--ion-color-secondary) !important;
      }

      h3,
      .reward-list li {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
      }
    }

    .account-container {
      h1 {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
      }

      .user-info,
      .settings {
        &,
        * {
          background-color: var(--ion-color-primary) !important;
        }

        ion-button {
          --background: var(--ion-color-secondary) !important;
        }

        ion-icon {
          color: var(--ion-color-secondary) !important;
        }

        ion-toggle {
          --handle-background: var(--ion-color-secondary) !important;
          --handle-background-checked: var(--ion-color-secondary) !important;
          --track-background: rgba(var(--ion-color-dark-rgb), 0.6) !important;
          --track-background-checked: rgba(
            var(--ion-color-dark-contrast-rgb),
            0.1
          ) !important;
        }

        p,
        h2,
        label {
          color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
        }
      }
    }

    .settings {
      ion-button {
        background-color: var(--ion-color-secondary) !important;
      }
    }

    .review-container,
    .guest-container,
    .forgot-password-container {
      background-color: var(--ion-color-dark);
      h1,
      p {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
      }
    }

    .form-group {
      label {
        color: var(--ion-color-dark-contrast) !important;
      }
    }

    .login-container {
      background-color: var(--ion-color-dark);
    }

    .points-display {
      color: var(--ion-color-secondary) !important;
    }
  }
}

