<ion-content >
  <app-header></app-header>

  <app-announcement></app-announcement>
  
  <app-product-categories></app-product-categories>

  <app-banner-carousel></app-banner-carousel>
  <app-card-slider></app-card-slider>
    <div class="guest-container" *ngIf="!isLoggedIn" aria-labelledby="rewards-heading">
    <div class="guest-card">
      <p class="join-the">Join the</p>
      <h2 class="prive-title" id="rewards-heading">Privé List</h2>
      <p class="guest-subtitle">Get exclusive updates about in-store events, promotions, &amp; more!</p>

      <ion-button
        class="guest-cta"
        fill="outline"
        routerLink="/auth"
        [queryParams]="{ mode: 'register' }"
        aria-label="Sign up for our free rewards program"
      >
        JOIN NOW
      </ion-button>
    </div>
  </div>
</ion-content>
