<div class="account-container">
  <div class="header">
    <h1 tabindex="0">My Account</h1>
  </div>

  <div class="card user-info" aria-labelledby="user-info-header">
    <h2 id="user-info-header" class="sr-only">User Information</h2>
    <div *ngFor="let item of userInfo" class="info-item">
      <ion-icon [name]="item.icon" aria-hidden="true"></ion-icon>
      <div>
        <p class="label" tabindex="0">{{ item.label }}</p>
        <p tabindex="0">{{ item.value }}</p>
      </div>
    </div>
  </div>

  <div class="card settings" aria-labelledby="settings-header">
    <h2 id="settings-header">Settings</h2>
    <div *ngFor="let setting of settings" class="setting-item">
      <label [for]="setting.id">{{ setting.label }}</label>
      <ion-toggle
        [id]="setting.id"
        [(ngModel)]="setting.value"
        (ionChange)="setting.action(setting.value)"
        role="switch"
        [attr.aria-checked]="setting.value"
        [attr.aria-label]="setting.label"
      ></ion-toggle>
    </div>

    <div class="setting-item">
      <ion-button
        class="action-button"
        (click)="logout()"
        aria-label="Log out of your account"
      >
        Log Out
      </ion-button>
    </div>
  </div>
</div>

