ion-fab {
    margin-bottom: 20%;
  }
  
  .custom-chat-button {
    --background: var(--ion-color-secondary-contrast);  // your custom mint green
    --color: #ffffff;       // icon color
  }

  ion-card {
    background-color: white;
  }

  .chat-form {
    position: fixed;
    bottom: 120px; // Default position
    right: 10px;
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    z-index: 1000;
    transition: bottom 0.3s ease-in-out; // ✅ Smooth transition when repositioning
  }
  
  
  @keyframes fadeInBubble {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .bubble-arrow {
    position: absolute;
    bottom: -14px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .input-item {
    margin-bottom: 25px; // Extra spacing between inputs
  }
  
  .textarea-item {
    min-height: 160px; // Larger textarea
    ion-textarea {
      height: 160px;
    }
  }
  
  /* Screen Reader Only */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  